<% layout('layout') -%>

   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Start your search here</h2>
          <p> Signup to start buying</p>
        </div>
        <div class="col-md-4">
          <h2>Look for Smart Items?</h2>
          <p>These will appear across the sit as you add to your cart?</p>
       </div>
        <div class="col-md-4">
          <h2>Build a smart cart</h2>
          <p>The more items you buy together, the more you save :) </p>
        </div>
      </div>


